<!DOCTYPE html>

<html>
<head>
    <title>Timestamp Microservice | freeCodeCamp.org</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="/index.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Timestamp Microservice</h1>
<hr />
<div class="container">
    <h2>Example Usage:</h2>
    <ul>
        <li><a href="/api/2015-12-25?">[project url]/api/2015-12-25</a></li>
        <li><a href="/api/1451001600000?">[project url]/api/1451001600000</a></li>
        <li><a id="date">Click to Date from api</a></li>

    </ul>
    <form id="form">
        <label for="fecha">Selecciona una fecha:</label>
        <input type="date" id="fecha" name="fecha" required>
        <button type="submit">Enviar</button>
    </form>
</div>
<hr />
<h1>Request Header Parser Microservice </h1>
<hr />
<div class="container">
    <h2>Example Usage:</h2>
    <ul>
        <li><a href="/api/whoami">[base url]/api/whoami</a></li>
    </ul>
</div>
<hr />
<h1>Url Shortener Microservice </h1>
<hr />
<div class="container">
    <h2>Example Usage:</h2>

    <form action="/api/shorturl" method="POST">
        <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/">
            <input type="submit" value="POST URL">
        </fieldset>
    </form>
    <ul>
        <li><a href="/api/shorturl/1">[Project url]/api/shorturl/1</a></li>
    </ul>
</div>
<div class="footer">
    <p>
        By <a href="">Esteban Guerra</a>
    </p>
</div>


<script>
   function sendTimestamp(){
       const dateLink = document.getElementById('date');
       const dateUnix = document.getElementById('dateUnix');

       const now = new Date();
       const year = now.getFullYear();
       const month = String(now.getMonth() + 1).padStart(2, '0');
       const day = String(now.getDate()).padStart(2, '0');
       const formattedDate = `${year}-${month}-${day}`;
       dateLink.href = '/api/'+formattedDate;
       console.log("Fecha actual:", formattedDate);
   }
   document.addEventListener('DOMContentLoaded',function (){
       sendTimestamp();
       document.getElementById('form').addEventListener('submit',function (e){
            e.preventDefault();
           const fecha = document.getElementById('fecha').value;
           document.location.href = '/api/'+fecha;
       })
   })




</script>
</body>
</html>